name: CI

on:
  push:
    paths-ignore:
      - 'README.md'
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  unit-tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        python-version: [ '3.8', '3.9', '3.10', '3.11', '3.12' ]

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run unit tests
        run: |
          make test-unit

      - name: Run integration tests
        env:
          NOTION_OBJECTS_TOKEN: ${{ secrets.NOTION_OBJECTS_TOKEN }}
          NOTION_OBJECTS_TEST_DATABASE: ${{ secrets.NOTION_OBJECTS_TEST_DATABASE }}
        run: |
          make test-integration

  integration-tests:
    runs-on: "ubuntu-latest"

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.11"

      - name: Run integration tests
        env:
          NOTION_OBJECTS_TOKEN: ${{ secrets.NOTION_OBJECTS_TOKEN }}
          NOTION_OBJECTS_TEST_DATABASE: ${{ secrets.NOTION_OBJECTS_TEST_DATABASE }}
        run: |
          make test-integration
